@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    background-image: url('./vector/cloudbgp.jpg');
    background-color: whitesmoke;
    background-size: cover;
}

.heading {
    max-width: 70vw;
    height: 15vh;
    margin: 10px auto;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gcp {
    font-family: 'Pixelify Sans', 'Poppins', sans-serif;
    font-size: 4rem;
    background: linear-gradient(45deg, #ea4335, #4285f4, #34a853, #f9ab00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.leaderboard {
    font-family: 'Pixelify Sans', 'Poppins', sans-serif;
    font-size: 3.5rem;
    background: #d19e1d;
    background: -webkit-linear-gradient(to right, #d19e1d, #ffd86e, #e3a812);
    background: linear-gradient(to right, #d19e1d, #ffd86e, #e3a812);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.trophies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 2vw;
    padding: 10px;
    text-align: center;
}

.gold,
.silver,
.bronze {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.username {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.img1 {
    width: 18vw;
    height: auto;
}

.img2 {
    width: 11vw;
    height: auto;
}

.img3 {
    width: 11vw;
    height: auto;
}

.leaderboardtable {
    border-radius: 2vw;
    padding: 10px;
    background-color: white;
    max-width: 60vw;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
}

.profilelink {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 2vw;
}

/* .profilelink:hover {
     background-color: black; 
    color: white;
    padding: 10px
} */

.legend {
    max-width: 30vw;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
}

.l1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.legenddata {
    font-size: 1.1rem;
}

.ball {
    width: 18px;
    height: 18px;
    border-radius: 20px;
    border: 1px solid black;
}

.red {
    background-color: #dc3545;
}

.yellow {
    background-color: #ffc107;
}

.green {
    background-color: #28a745;
}

.blue {
    background-color: #007bff;
}

.seagreen {
    background-color: #17a2b8;
}

.black {
    background-color: #323539;
}

@media only screen and (max-width: 800px) {
    body {
        background-image: url('./vector/cloudbgp.jpg');
        height: 100vh;
    }

    .heading {
        width: 90vw;
        height: auto;
    }

    .leaderboardtable {
        max-width: 80vw;
    }

    .legend {
        max-width: 50vw;
    }

    .profilelink {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .gcp {
        font-size: 3rem;
    }

    .leaderboard {
        font-size: 2.5rem;
    }

    .legend {
        max-width: 70vw;
    }

    .profilelink:hover {
        /* background: none; */
        /* color: black; */
        padding: 12px;
    }
}
